body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-2 {
  color: #ffffff;
  background-color: #00ca74;
}

.button-3 {
  color: #ffffff;
  background-color: #efc84a;
}

.button-2:hover,
.button-2:focus {
  color: #ffffff;
  background-color: #00bc6c;
}

.button-2:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #00aa62;
}

.button-3:hover,
.button-3:focus {
  color: #ffffff;
  background-color: #eab534;
}

.button-3:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #e5a722;
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.main-navigation {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 49px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

.slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.advantages {
  margin-bottom: 124px;
}

.studio {
  width: 660px;
  padding-right: 140px;
}

.stats {
  width: 360px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 360px;
  text-align: left;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.studio .about-studio {
  font-size: 45px;
  line-height: 45px;
}

.studio b {
  text-transform: uppercase;
}

.studio-list {
  list-style: none;
}

.container-table b {
  font-weight: 500;
  text-transform: uppercase;
}

.container-table h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.container-table td {
  padding-right: 22px;
  padding-top: 35px;
  text-align: left;
  line-height: 18px;
}

.container-table .percent {
  font-size: 45px;
  line-height: 10,06px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  width: 260px;
}

.contacts h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  line-height: 18px;
}

.main-footer {
  margin-top: 70px;
  padding-top: 70px;
  padding-right: 350px;
  padding-bottom: 70px;
  padding-left: 140px;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 260px;
  margin: 0;
  margin-right: 140px;
}

.footer-discount {
  width: 544px;
  margin: 0;
  margin-left: auto;
}

.footer-discount b {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.footer-discount p {
  font-size: 16px;
  line-height: 22px;
}

.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 110px;
}

.inner-page .main-header {
  margin-bottom: 63px;
}

.filters {
  width: 260px;
}

.filter h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.catalog {
  width: 760px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog .catalog-filter {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.catalog-filter a {
  color: #000000;
  opacity: 0.3;
}

.catalog-filter a:hover {
  color: #000000;
  opacity: 0.6;
}

.catalog-filter a:active {
  color: #000000;
  opacity: 1;
}

.catalog-filter-current a {
  color: #000000;
  opacity: 1;
}

.catalog h3 {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 36px;
  margin-right: 40px;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover {
  border: 1px solid rgba(77, 77, 77, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item-card {
  background-color: #ffffff;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item span {
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #000000;
  opacity: 0.3;
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.social-1 {
  font-size: 36px;
  line-height: 36px;
}

.social-2 {
  font-size: 16px;
  line-height: 22px;
}

.social-list {
  list-style: none;
}

.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.appointment-form input[type="text"] {
  font: inherit;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.appointment-form input:hover {
  border: 2px solid #b4b9bb;
}

.appointment-form input:focus {
  border: 2px solid #000000;
}
